# Allow untrusted apps to access dvb related stuff
allow untrusted_app dvb_device:dir r_dir_perms;
allow untrusted_app device:dir r_dir_perms;
allow untrusted_app dvb_device:file r_file_perms;
allow untrusted_app dvb_device:chr_file rw_file_perms;

